@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'outfit-variablefont';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('woff2'), 
         url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('woff'); 
  }
  

  @font-face {
    font-family: 'young-serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('woff2'), 
         url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('woff'); 
    
  }

  body {
    font-family: 'outfit-variablefont', sans-serif;
  }
  